@page
@model Zealandic_Booking.Pages.Booking.GetBookingsModel
@{
}
<table class="table table-bordered table-hover table-striped" width="60%">
    <col style="width: 5%">
    <col style="width: 77%">
    <col style="width: 9%">
    <col style="width: 9%">
    <thead>
        <tr>
            <th>
                BookingID
            </th>
            <th>
                BookingTime
            </th>
            <th>
                Booked by
            </th>
            <th>
                Room name
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Bookings != null)
    {
        foreach (var booking in Model.Bookings)
        {
        <tr>
            <td>
                @booking.BookingID
            </td>
            <td>
                @booking.Time
            </td>
            <td>
                @booking.User.Name
            </td>
            <td>
                @booking.Room.Name
            </td>
            <td>

                <ul class="list-inline m-0">
                    @{
                        if (booking.Time.CompareTo(DateTime.Today.AddDays(3)) >= 1 && booking.User.Role == "student")
                        {

                            <li class="list-inline-item">
                                <a class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Delete" asp-page="DeleteBooking" asp-route-id="@booking.BookingID">Delete<i class="fa fa-trash"></i></a>
                            </li>


                        }
                    }
                </ul>
            </td>
        </tr>
        }
    }
    </tbody>
</table>