@page
@using Microsoft.EntityFrameworkCore
@model Zealandic_Booking.Pages.WorkInProgress.SimpleBookingModel
@{
}
<select class="form-select" aria-label="Default select example">
    <option selected>Rooms</option>
    @foreach (var room in Model.Rooms)
    {
        <option value="@room.RoomID">Name: @room.Name | Title: @room.Title | IT: @room.IT_Tools</option>
    }
    <option selected>Users</option>
    @foreach (var user in Model.Users)
    {
        <option value="@user.UserID">Name: @user.Name</option>
    }
</select>