@page
@using Microsoft.EntityFrameworkCore
@model Zealandic_Booking.Pages.WorkInProgress.SimpleBookingModel
@{
}
<script>
    $( document ).ready(function() {
        $('.carousel').carousel('pause');
        $("#DT_Year").keyup(function() {
            DT_Function();
        });
        $("#DT_Month").keyup(function() {
            DT_Function();
        });
        $("#DT_Day").keyup(function() {
            DT_Function();
        });
    });

    

    function DT_Function() {
        var Year = $("#DT_Year").val();
        var Month = $("#DT_Month").val();
        var Day = $("#DT_Day").val();
        if (Month > 12) {
            $("#DT_Month").val(12);
        }
        else if (Year < 1000) {
            $("#DT_Year").val(2000);
        }
        else if (Day > 31) {
            $("#DT_Day").val(31);
        }
        console.log(Year);
        console.log(Month);
        console.log(Day);
    }
</script>
<form method="post">
    <div style="width: 440px" class="col-md-12">
        <div class="">
            <select class="form-control btn-dark" asp-for="postRoomID" aria-label="Room Select Form">
                @foreach (var room in Model.Rooms)
                {
                    <option value="@room.RoomID">Name: @room.Name | Title: @room.Title | IT: @room.IT_Tools</option>
                }
            </select>
        </div>
        
        <div class="mt-2">
            <select class="form-control btn-dark" asp-for="postUserID" aria-label="User Select Form">
                @foreach (var user in Model.Users)
                {
                    <option value="@user.UserID">Name: @user.Name</option>
                }
            </select>
        </div>
        
        <div class="input-group mt-2">
            <div class="input-group-prepend">
                <span class="input-group-text text-dark" id="basic-addon1">Year</span>
            </div>
            <input maxlength="4" type="text" id="DT_Year" class="form-control btn-dark DT_Year" asp-for="year" value="@Model.currentYear" aria-label="Year" aria-describedby="basic-addon1">
            <div class="input-group-prepend ml-2">
                <span class="input-group-text text-dark" id="basic-addon2">Month</span>
            </div>
            <input maxlength="2" type="text" id="DT_Month" class="form-control btn-dark" asp-for="month" value="@Model.currentMonth" aria-label="Month" aria-describedby="basic-addon2">
            <div class="input-group-prepend ml-2">
                <span class="input-group-text text-dark" id="basic-addon3">Day</span>
            </div>
            <input maxlength="2" type="text" id="DT_Day" class="form-control btn-dark" asp-for="day" value="@Model.currentDay" aria-label="Day" aria-describedby="basic-addon3">
        </div>
        
        <div class="btn-group mt-2 text-center" data-toggle="buttons">
            <fieldset>
                <div>
                    <label class="btn btn-dark active" style="font-size: 10px" for="inlineRadio1">
                        <input type="radio" name="Time" id="inlineRadio1" asp-for="time" value="00.00.00" checked> 00:00 - 02:00
                    </label>
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio2">
                        <input type="radio" name="Time" id="inlineRadio2" asp-for="time" value="02.00.00"> 02:00 - 04:00
                    </label>
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio3">
                        <input type="radio" name="Time" id="inlineRadio3" asp-for="time" value="04.00.00"> 04:00 - 06:00
                    </label>
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio4">
                        <input type="radio" name="Time" id="inlineRadio4" asp-for="time" value="06.00.00"> 06:00 - 08:00
                    </label>
                </div>
    
                <div>
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio5">
                        <input type="radio" name="Time" id="inlineRadio5" asp-for="time" value="08.00.00"> 08:00 - 10:00
                    </label>
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio6">
                        <input type="radio" name="Time" id="inlineRadio6" asp-for="time" value="10.00.00"> 10:00 - 12:00
                    </label>
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio7">
                        <input type="radio" name="Time" id="inlineRadio7" asp-for="time" value="12.00.00"> 12:00 - 14:00
                    </label>
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio8">
                        <input type="radio" name="Time" id="inlineRadio8" asp-for="time" value="14.00.00"> 14:00 - 16:00
                    </label>
                </div>
    
                <div>
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio9">
                        <input type="radio" name="Time" id="inlineRadio9" asp-for="time" value="16.00.00"> 16:00 - 18:00
                    </label>
    
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio10">
                        <input type="radio" name="Time" id="inlineRadio10" asp-for="time" value="18.00.00"> 18:00 - 20:00
                    </label>
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio11">
                        <input type="radio" name="Time" id="inlineRadio11" asp-for="time" value="20.00.00"> 20:00 - 22:00
                    </label>
    
    
                    <label class="btn btn-dark" style="font-size: 10px" for="inlineRadio12">
                        <input type="radio" name="Time" id="inlineRadio12" asp-for="time" value="22.00.00"> 22:00 - 00:00
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="text-center">
            <input class="btn btn-dark text-center" type="submit">
        </div>
    </div>
</form>


@*<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="ml-4">
                <h1>1</h1>
                <button class="btn-dark"></button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="ml-4">
                <h1>2</h1>
                <button class="btn-dark"></button>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@
