@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    $(document).ready(function () {
        DT_Function();
        $('.carousel').carousel('pause');
        $("#DT_Year").keyup(function () {
            DT_Function();
        });
        $("#DT_Month").keyup(function () {
            DT_Function();
        });
        $("#DT_Day").keyup(function () {
            DT_Function();
        });
        $("#PRID").change(function () {
            DT_Function();
        });
        if ($("#00").hasClass("btn-danger")) {
            $("#Ttime").text("This time is booked, please choose another time.");
        }
        if ($(document).width() < 1200) {
            $("#firstCol").css({ "margin-left": "auto" });
            $("#secondCol").css({ "margin-right": "auto" });
        } else {
            $("#firstCol").css({ "margin-left": "" });
            $("#secondCol").css({ "margin-right": "" });
        }

        $('#TGroup1 .btn').on('click', function () {
            var activeId = $(this).prop('id');
            if (activeId == '00') {
                $("#Ttime").text("00:00 - 02:00");
            } else if (activeId == '02') {
                $("#Ttime").text("02:00 - 04:00");
            } else if (activeId == '04') {
                $("#Ttime").text("04:00 - 06:00");
            } else if (activeId == '06') {
                $("#Ttime").text("06:00 - 08:00");
            } else {
                $("#Ttime").text("Unknown");
            }
            if ($("#" + activeId).hasClass("btn-danger")) {
                $("#Ttime").text("This time is booked, please choose another");
            }
        });
        $('#TGroup2 .btn').on('click', function () {
            var activeId = $(this).prop('id');
            if (activeId == '08') {
                $("#Ttime").text("08:00 - 10:00");
            } else if (activeId == '10') {
                $("#Ttime").text("10:00 - 12:00");
            } else if (activeId == '12') {
                $("#Ttime").text("12:00 - 14:00");
            } else if (activeId == '14') {
                $("#Ttime").text("14:00 - 16:00");
            } else {
                $("#Ttime").text("Unknown");
            }
            if ($("#" + activeId).hasClass("btn-danger")) {
                $("#Ttime").text("This time is booked, please choose another");
            }
        });

        $('#TGroup3 .btn').on('click', function () {
            var activeId = $(this).prop('id');
            if (activeId == '16') {
                $("#Ttime").text("16:00 - 18:00");
            } else if (activeId == '18') {
                $("#Ttime").text("18:00 - 20:00");
            } else if (activeId == '20') {
                $("#Ttime").text("20:00 - 22:00");
            } else if (activeId == '22') {
                $("#Ttime").text("22:00 - 00:00");
            } else {
                $("#Ttime").text("Unknown");
            }
            if ($("#" + activeId).hasClass("btn-danger")) {
                $("#Ttime").text("This time is booked, please choose another");
            }
        });
    });




    function GetBookings(Year, Month, Day, roomID) {
        $.ajax({
            url: 'BookingController',
            data: { "Year": Year, "Month": Month, "Day": Day, "roomID": roomID },
            success: function (data) {
                console.log(data);
                $("#Tdate").text(Day + "/" + Month + "/" + Year);
                $("#Troom").text($("#PRID option:selected").text());
                

                $("#inlineRadio12").prop("disabled", false);
                $("#inlineRadio11").prop("disabled", false);
                $("#inlineRadio10").prop("disabled", false);
                $("#inlineRadio9").prop("disabled", false);
                $("#inlineRadio8").prop("disabled", false);
                $("#inlineRadio7").prop("disabled", false);
                $("#inlineRadio6").prop("disabled", false);
                $("#inlineRadio5").prop("disabled", false);
                $("#inlineRadio4").prop("disabled", false);
                $("#inlineRadio3").prop("disabled", false);
                $("#inlineRadio2").prop("disabled", false);
                $("#inlineRadio1").prop("disabled", false);


                if (data && data.indexOf("x0x") !== -1) {
                    if ($("#00").hasClass("btn-dark")) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#00").prop("disabled", true);
                        $("#00").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#00").hasClass("btn-danger")) {
                        $("#inlineRadio1").prop("disabled", false);
                        $("#00").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x2x") !== -1) {
                    if ($("#02").hasClass("btn-dark")) {
                        $("#inlineRadio2").prop("disabled", true);
                        $("#02").prop("disabled", true);
                        $("#02").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#02").hasClass("btn-danger")) {
                        $("#inlineRadio2").prop("disabled", false);
                        $("#02").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x4x") !== -1) {
                    if ($("#04").hasClass("btn-dark")) {
                        $("#inlineRadio3").prop("disabled", true);
                        $("#04").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#04").hasClass("btn-danger")) {
                        $("#inlineRadio3").prop("disabled", false);
                        $("#04").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x6x") !== -1) {
                    if ($("#06").hasClass("btn-dark")) {
                        $("#inlineRadio4").prop("disabled", true);
                        $("#06").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#06").hasClass("btn-danger")) {
                        $("#inlineRadio4").prop("disabled", false);
                        $("#06").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x8x") !== -1) {
                    if ($("#08").hasClass("btn-dark")) {
                        $("#inlineRadio5").prop("disabled", true);
                        $("#08").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#08").hasClass("btn-danger")) {
                        $("#inlineRadio5").prop("disabled", false);
                        $("#08").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x10x") !== -1) {
                    if ($("#10").hasClass("btn-dark")) {
                        $("#inlineRadio6").prop("disabled", true);
                        $("#10").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#10").hasClass("btn-danger")) {
                        $("#inlineRadio6").prop("disabled", false);
                        $("#10").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x12x") !== -1) {
                    if ($("#12").hasClass("btn-dark")) {
                        $("#inlineRadio7").prop("disabled", true);
                        $("#12").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#12").hasClass("btn-danger")) {
                        $("#inlineRadio7").prop("disabled", false);
                        $("#12").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x14x") !== -1) {
                    if ($("#14").hasClass("btn-dark")) {
                        $("#inlineRadio8").prop("disabled", true);
                        $("#14").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#14").hasClass("btn-danger")) {
                        $("#inlineRadio8").prop("disabled", false);
                        $("#14").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x16x") !== -1) {
                    if ($("#16").hasClass("btn-dark")) {
                        $("#inlineRadio9").prop("disabled", true);
                        $("#16").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#16").hasClass("btn-danger")) {
                        $("#inlineRadio9").prop("disabled", false);
                        $("#16").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x18x") !== -1) {
                    if ($("#18").hasClass("btn-dark")) {
                        $("#inlineRadio10").prop("disabled", true);
                        $("#18").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#18").hasClass("btn-danger")) {
                        $("#inlineRadio10").prop("disabled", false);
                        $("#18").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x20x") !== -1) {
                    if ($("#20").hasClass("btn-dark")) {
                        $("#inlineRadio11").prop("disabled", true);
                        $("#20").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#20").hasClass("btn-danger")) {
                        $("#inlineRadio11").prop("disabled", false);
                        $("#20").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x22x") !== -1) {
                    if ($("#22").hasClass("btn-dark")) {
                        $("#inlineRadio12").prop("disabled", true);
                        $("#22").removeClass("btn-dark").addClass("btn-danger");
                    }
                } else {
                    if ($("#22").hasClass("btn-danger")) {
                        $("#inlineRadio12").prop("disabled", false);
                        $("#22").removeClass("btn-danger").addClass("btn-dark");
                    }
                }

                if (data && data.indexOf("x22x") !== -1) {
                    if ($("#22").hasClass("btn-dark")) {
                        $("#inlineRadio12").prop("disabled", true);
                        $("#22").removeClass("btn-dark").addClass("btn-danger");
                    }
                }

                if (data && data.indexOf("yyy") !== -1) {
                    $("#inlineRadio12").prop("disabled", true);
                    $("#inlineRadio11").prop("disabled", true);
                    $("#inlineRadio10").prop("disabled", true);
                    $("#inlineRadio9").prop("disabled", true);
                    $("#inlineRadio8").prop("disabled", true);
                    $("#inlineRadio7").prop("disabled", true);
                    $("#inlineRadio6").prop("disabled", true);
                    $("#inlineRadio5").prop("disabled", true);
                    $("#inlineRadio4").prop("disabled", true);
                    $("#inlineRadio3").prop("disabled", true);
                    $("#inlineRadio2").prop("disabled", true);
                    $("#inlineRadio1").prop("disabled", true);
                } else if (data && data.indexOf("kk") !== -1) {
                    var middle = data.slice(
                        data.indexOf('kk') + 2,
                        data.lastIndexOf('kk')
                    );
                    var currentHour = parseInt(middle);
                    console.log(currentHour);
                    if (currentHour <= 0) {
                        $("#inlineRadio1").prop("disabled", true);
                    } else if (currentHour <= 2) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                    } else if (currentHour <= 4) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                    } else if (currentHour <= 6) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                    } else if (currentHour <= 8) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                        $("#inlineRadio5").prop("disabled", true);
                    } else if (currentHour <= 10) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                        $("#inlineRadio5").prop("disabled", true);
                        $("#inlineRadio6").prop("disabled", true);
                    } else if (currentHour <= 12) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                        $("#inlineRadio5").prop("disabled", true);
                        $("#inlineRadio6").prop("disabled", true);
                        $("#inlineRadio7").prop("disabled", true);
                    } else if (currentHour <= 14) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                        $("#inlineRadio5").prop("disabled", true);
                        $("#inlineRadio6").prop("disabled", true);
                        $("#inlineRadio7").prop("disabled", true);
                        $("#inlineRadio8").prop("disabled", true);
                    } else if (currentHour <= 16) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                        $("#inlineRadio5").prop("disabled", true);
                        $("#inlineRadio6").prop("disabled", true);
                        $("#inlineRadio7").prop("disabled", true);
                        $("#inlineRadio8").prop("disabled", true);
                        $("#inlineRadio9").prop("disabled", true);
                    } else if (currentHour <= 18) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                        $("#inlineRadio5").prop("disabled", true);
                        $("#inlineRadio6").prop("disabled", true);
                        $("#inlineRadio7").prop("disabled", true);
                        $("#inlineRadio8").prop("disabled", true);
                        $("#inlineRadio9").prop("disabled", true);
                        $("#inlineRadio10").prop("disabled", true);
                    } else if (currentHour <= 20) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                        $("#inlineRadio5").prop("disabled", true);
                        $("#inlineRadio6").prop("disabled", true);
                        $("#inlineRadio7").prop("disabled", true);
                        $("#inlineRadio8").prop("disabled", true);
                        $("#inlineRadio9").prop("disabled", true);
                        $("#inlineRadio10").prop("disabled", true);
                        $("#inlineRadio11").prop("disabled", true);
                    } else if (currentHour <= 22) {
                        $("#inlineRadio1").prop("disabled", true);
                        $("#inlineRadio2").prop("disabled", true);
                        $("#inlineRadio3").prop("disabled", true);
                        $("#inlineRadio4").prop("disabled", true);
                        $("#inlineRadio5").prop("disabled", true);
                        $("#inlineRadio6").prop("disabled", true);
                        $("#inlineRadio7").prop("disabled", true);
                        $("#inlineRadio8").prop("disabled", true);
                        $("#inlineRadio9").prop("disabled", true);
                        $("#inlineRadio10").prop("disabled", true);
                        $("#inlineRadio11").prop("disabled", true);
                        $("#inlineRadio12").prop("disabled", true);
                        console.log("asdasd");
                    }


                }

            },
            error: function (xhr) {
                console.log("Something went wrong. Please consult Zealandic Booking at 20581337");
            }
        });
    }

    $(window).resize(function () {
        if ($(document).width() < 1200) {
            $("#firstCol").css({ "margin-left": "auto" });
            $("#secondCol").css({ "margin-right": "auto" });
        } else {
            $("#firstCol").css({ "margin-left": "" });
            $("#secondCol").css({ "margin-right": "" });
        }

    });

    function DT_Function() {
        var Year = $("#DT_Year").val();
        var Month = $("#DT_Month").val();
        var Day = $("#DT_Day").val();
        var PostRoomID = $("#PRID").val();

        if (Month > 12) {
            $("#DT_Month").val(12);
            DT_Function();
        }

        if (Month == 12) {
            if (Day > 31) {
                $("#DT_Day").val(31);
                DT_Function();
            }
        }
        else if (Month == 11) {
            if (Day > 30) {
                $("#DT_Day").val(30);
                DT_Function();
            }
        }
        else if (Month == 10) {
            if (Day > 31) {
                $("#DT_Day").val(31);
                DT_Function();
            }
        }
        else if (Month == 9) {
            if (Day > 30) {
                $("#DT_Day").val(30);
                DT_Function();
            }
        }
        else if (Month == 8) {
            if (Day > 30) {
                $("#DT_Day").val(31);
                DT_Function();
            }
        }
        else if (Month == 7) {
            if (Day > 31) {
                $("#DT_Day").val(31);
                DT_Function();
            }
        }
        else if (Month == 6) {
            if (Day > 30) {
                $("#DT_Day").val(30);
                DT_Function();
            }
        }
        else if (Month == 5) {
            if (Day > 31) {
                $("#DT_Day").val(31);
                DT_Function();
            }
        }
        else if (Month == 4) {
            if (Day > 30) {
                $("#DT_Day").val(30);
                DT_Function();
            }
        }
        else if (Month == 3) {
            if (Day > 31) {
                $("#DT_Day").val(31);
                DT_Function();
            }
        }
        else if (Year % 4 == 0 && Month == 2) {
            if (Day > 29) {
                $("#DT_Day").val(29); //Skudår
                DT_Function();
            }
        }
        else if (Month == 2) {
            if (Day > 28) {
                $("#DT_Day").val(28);
                DT_Function();
            }
        }
        else if (Month == 1) {
            if (Day > 31) {
                $("#DT_Day").val(31);
                DT_Function();
            }
        }
        
        
        
        GetBookings(Year, Month, Day, PostRoomID);
    }

</script>
@if (Model.LoginCheck == true)
{
    <form method="post">
        <div class="row">
            <div style="width: 408px; margin-right: auto;" id="firstCol" class="mb-5">
                <h3>Book et rum</h3>
                <div class="">
                    <b class="font-weight-bold text-center">Vælg rum</b>
                    <select class="form-control btn-dark" name="postRoomID" id="PRID" aria-label="Room Select Form">
                        @foreach (var room in Model.Rooms)
                        {
                            <option value="@room.RoomID">Navn: @room.Name | Title: @room.Title | IT: @room.IT_Tools</option>
                        }
                    </select>
                </div>
                @*<div class="">
                    <b class="font-weight-bold text-center">Vælg Gruppemedlemmer</b>
                    <select class="form-control btn-dark" name="postUserID" id="PRID" aria-label="Room Select Form">
                        @foreach (var user in Model.Users)
                        {
                            <option value="@user.UserID">Navn: @user.Name | Rolle: @user.Role</option>
                        }
                    </select>
                </div>*@

                @*<div class="mt-2">
                        <select class="form-control btn-dark" name="postUserID" aria-label="User Select Form">
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.UserID">Name: @user.Name</option>
                            }
                        </select>
                    </div>*@
                <b class="font-weight-bold text-center">Vælg Dato</b>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-dark" id="basic-addon1">År</span>
                    </div>
                    <input maxlength="4" type="text" id="DT_Year" class="form-control btn-dark DT_Year" name="year" value="@Model.currentYear" aria-label="Year" aria-describedby="basic-addon1">
                    <div class="input-group-prepend ml-2">
                        <span class="input-group-text text-dark" id="basic-addon2">Måned</span>
                    </div>
                    <input maxlength="2" type="text" id="DT_Month" class="form-control btn-dark" name="month" value="@Model.currentMonth" aria-label="Month" aria-describedby="basic-addon2">
                    <div class="input-group-prepend ml-2">
                        <span class="input-group-text text-dark" id="basic-addon3">Dag</span>
                    </div>
                    <input maxlength="2" type="text" id="DT_Day" class="form-control btn-dark" name="day" value="@Model.currentDay" aria-label="Day" aria-describedby="basic-addon3">
                </div>

                <b class="font-weight-bold text-center">Vælg tidsinterval</b>
                <div class="btn-group mt-2 text-center" data-toggle="buttons">
                    <fieldset>
                        <div id="TGroup1">
                            <label class="btn btn-dark" id="00" style="font-size: 10px" for="inlineRadio1">
                                <input type="radio" id="inlineRadio1" name="time" value="00.00.00" checked> 00:00 - 02:00
                            </label>

                            <label class="btn btn-dark" id="02" style="font-size: 10px" for="inlineRadio2">
                                <input type="radio" id="inlineRadio2" name="time" value="02.00.00"> 02:00 - 04:00
                            </label>

                            <label class="btn btn-dark" id="04" style="font-size: 10px" for="inlineRadio3">
                                <input type="radio" id="inlineRadio3" name="time" value="04.00.00"> 04:00 - 06:00
                            </label>

                            <label class="btn btn-dark" id="06" style="font-size: 10px" for="inlineRadio4">
                                <input type="radio" id="inlineRadio4" name="time" value="06.00.00"> 06:00 - 08:00
                            </label>
                        </div>

                        <div id="TGroup2">
                            <label class="btn btn-dark" id="08" style="font-size: 10px" for="inlineRadio5">
                                <input type="radio" id="inlineRadio5" name="time" value="08.00.00"> 08:00 - 10:00
                            </label>

                            <label class="btn btn-dark" id="10" style="font-size: 10px" for="inlineRadio6">
                                <input type="radio" id="inlineRadio6" name="time" value="10.00.00"> 10:00 - 12:00
                            </label>

                            <label class="btn btn-dark" id="12" style="font-size: 10px" for="inlineRadio7">
                                <input type="radio" id="inlineRadio7" name="time" value="12.00.00"> 12:00 - 14:00
                            </label>

                            <label class="btn btn-dark" id="14" style="font-size: 10px" for="inlineRadio8">
                                <input type="radio" id="inlineRadio8" name="time" value="14.00.00"> 14:00 - 16:00
                            </label>
                        </div>

                        <div id="TGroup3">
                            <label class="btn btn-dark" id="16" style="font-size: 10px" for="inlineRadio9">
                                <input type="radio" id="inlineRadio9" name="time" value="16.00.00"> 16:00 - 18:00
                            </label>


                            <label class="btn btn-dark" id="18" style="font-size: 10px" for="inlineRadio10">
                                <input type="radio" id="inlineRadio10" name="time" value="18.00.00"> 18:00 - 20:00
                            </label>

                            <label class="btn btn-dark" id="20" style="font-size: 10px" for="inlineRadio11">
                                <input type="radio" id="inlineRadio11" name="time" value="20.00.00"> 20:00 - 22:00
                            </label>


                            <label class="btn btn-dark" id="22" style="font-size: 10px" for="inlineRadio12">
                                <input type="radio" id="inlineRadio12" name="time" value="22.00.00"> 22:00 - 00:00
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="text-center">
                    <input class="btn btn-dark text-center" id="submit" type="submit">
                </div>
                <div class="container shadow-sm mt-3">
                    <table class="table table-striped shadow">
                        <thead class="thead-light">
                        <tr>
                            <th scope="auto">Args</th>
                            <th>description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="pb-5">
                            <td p style="white-space: pre-line">Dato</td>
                            <td p style="white-space: pre-line" id="Tdate"></td>
                        </tr>
                        <tr class="pb-5">
                            <td p style="white-space: pre-line">Tid</td>
                            <td p style="white-space: pre-line" id="Ttime">Vælg et tidsinterval</td>
                        </tr>
                        <tr class="pb-5">
                            <td p style="white-space: pre-line">Rum</td>
                            <td p style="white-space: pre-line" id="Troom"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div style="margin-left: auto;" id="secondCol">
                <h3>Dine Bookinger</h3>
                <table class="table table-bordered table-hover table-striped" width="60%">
                    <col style="width: 30%">
                    <col style="width: 50%">
                    <col style="width: 20%">
                    <thead>
                    <tr>
                        <th>
                            Start tid
                        </th>
                        <th>
                            Rum
                        </th>
                        <th>
                            Valg
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.MyBookings != null)
                    {
                        foreach (var booking in Model.MyBookings)
                        {
                            <tr>
                                <td>
                                    @booking.Time
                                </td>
                                <td>
                                    @booking.Room.Name || @booking.Room.Title
                                </td>
                                <td>

                                    <ul class="list-inline m-0">
                                        <li class="list-inline-item">
                                            <a class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Delete" asp-page="/Booking/DeleteBooking" asp-route-id="@booking.BookingID">Delete<i class="fa fa-trash"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </form>


    @*<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="ml-4">
                        <h1>1</h1>
                        <button class="btn-dark"></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="ml-4">
                        <h1>2</h1>
                        <button class="btn-dark"></button>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@

}
